
/* Your CSS Code here. */
.holder{
	width:100%;
	display:flex;
	flex-wrap:wrap !important;
	justify-content:space-between !important;
}
.box{
	width:80px;
	height:80px;
	font-size:40px;
	
}
.box3{
	background-color:green;
	
}
.box2{
	background-color:red;
	
}
.box1{
	background-color:blue;
	
}